# VS Code settings
.vscode/

# venv directories
venv/
env/
.venv/

# macOS specific files
.DS_Store

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# *.ipynb

docs/variables.md

data/testing/

utils/create_meta_index.py